[defaults]
inventory = aws_ec2.yaml
private_key_file = /home/ubuntu/ansible/zhunan-new.pem
host_key_checking = False

[ssh_connection]
ssh_args = -o ProxyCommand="ssh -i /home/ubuntu/ansible/zhunan-new.pem -W %h:%p ec2-user@44.211.252.152"
